influxdb/data/*
!influxdb/data/.gitkeep

grafana/data/*
grafana/logs/*
!grafana/data/.gitkeep
!grafana/logs/.gitkeep
!grafana/data/dashboards

grafana/data/dashboards/custom/*
!grafana/data/dashboards/custom/.gitkeep
